code/.Rproj.user/.DS_Store
code/.Rproj.user/FC0C8FC1/pcs/files-pane.pper
code/.Rproj.user/FC0C8FC1/pcs/source-pane.pper
code/.Rproj.user/FC0C8FC1/pcs/source-window.pper
code/.Rproj.user/FC0C8FC1/pcs/windowlayoutstate.pper
code/.Rproj.user/FC0C8FC1/pcs/workbench-pane.pper
code/.Rproj.user/FC0C8FC1/rmd-outputs
code/.Rproj.user/FC0C8FC1/saved_source_markers
code/.Rproj.user/FC0C8FC1/sources/prop/0CDF48BD
code/.Rproj.user/FC0C8FC1/sources/prop/5A04D28F
code/.Rproj.user/FC0C8FC1/sources/prop/6A0A7EEB
code/.Rproj.user/FC0C8FC1/sources/prop/8876234F
code/.Rproj.user/FC0C8FC1/sources/prop/ED2C25BE
code/.Rproj.user/FC0C8FC1/sources/prop/INDEX
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/01FFB138-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/120205C4-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/12543970-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/19143C84-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/1926282C-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/1961C2DC-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/1C42760C-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/1F16A911-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/23739956-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/23EB5FE3-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/27293619-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/292B3C54-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/2CAA19A5-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/363C0AE3-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/36F72EA2-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/3948F94B-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/3AEDA751-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/3D529EFC-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/3D65C919-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/475420FE-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/4D818442-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/4DD74112-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/4F5AA3E4-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/59C00862-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/5F0161AD-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/62749590-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/63AF6A10-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/63F47438-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/65F2267E-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/6BD4DB9C
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/6BD4DB9C-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/79031CAF-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/81963D9A-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/8555E407-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/879567CD-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/94746F37-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/A66A47CD-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/AA0EB35D-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/AFE663A0-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/B4BE9B89-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/B7BF7D04-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/BCA43E7E-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/C0725804-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/C2349F08-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/C9D5FBA6
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/C9D5FBA6-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/D7FAAF13-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/DC80B8D3-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/E14A4F86-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/E537F987-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/E88927C4-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/E99C3EE0-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/F0040041-contents
code/.Rproj.user/FC0C8FC1/sources/session-5af32f90/lock_file
code/.Rproj.user/FC0C8FC1/unsaved-notebooks/9453F498/1/chunks.json
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/FC0C8FC15af32f90/chunks.json
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c0b9cne03v3er/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c0b9cne03v3er/000012.error
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c0w93nlnr1d3g/000013.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c0w93nlnr1d3g/000014.error
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c1mmh67xnjd39/000019.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c2ph8991byty1/00003c.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c2ph8991byty1/00003c.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c44xxewmnb5g6/000021.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c44xxewmnb5g6/000021.png
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/000018.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/000019.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/000019.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/00001a.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/00001b.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/00001b.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c53cybb07yj5a/00001c.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c5zwtpj5u0n0u/000039.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c5zwtpj5u0n0u/000039.png
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c72h29hr0cygk/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c8chdvcg05ani/000019.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c8chdvcg05ani/000019.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c8fyiffk8nc3b/00000f.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/c8fyiffk8nc3b/000010.error
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ccgagowvwvsbs/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ccgagowvwvsbs/000012.error
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/chd28zj08nu95/000002.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/chd28zj08nu95/000002.png
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/chunks.json
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000066.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000067.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000067.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000068.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000068.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000069.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/000069.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/00006a.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/00006b.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/00006b.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/00006c.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/ck4fadfx251di/00006c.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/coro2tqtufmwd/000034.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/coro2tqtufmwd/000034.png
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/coro2tqtufmwd/000034.snapshot
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cotx7iurvor4v/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/covjux1jdcsbz/000014.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/covkneo299prf/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/csirwise8xzj7/000027.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/csy3gysjmffv1/00000f.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cwmbj9bc10yb6/00000f.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cwsu1sbrqun1c/00000f.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000011.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000012.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000012.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000013.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000014.metadata
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000014.rdf
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cxkx1jvlmm03u/000015.csv
code/.Rproj.user/shared/notebooks/BDF85962-mini_project_2/1/s/cyayiio4g8nui/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/FC0C8FC155b8881d/chunks.json
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c0qynihj9w9ep/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2826nwkq3drp/000004.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2826nwkq3drp/000004.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2826nwkq3drp/000004.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2ib73yo18z7t/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2ib73yo18z7t/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2ib73yo18z7t/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c2ib73yo18z7t/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c391ovsnvjeov/000002.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c391ovsnvjeov/000002.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/000017.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/000018.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/000018.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/000019.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001a.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001a.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001b.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001c.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001c.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001d.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001e.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001e.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c3nl18tcf2p70/00001f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c4orntlq634cp/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c4orntlq634cp/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c4orntlq634cp/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c4yj6u1ellc5n/000016.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c4yj6u1ellc5n/000016.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c64q3aywirjg2/000002.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c64q3aywirjg2/000002.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c64q3aywirjg2/000002.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c77bk30r6vatm/000010.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c77bk30r6vatm/000011.error
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c85o8lyuornpq/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c9opm6izt39if/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c9opm6izt39if/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c9opm6izt39if/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/c9opm6izt39if/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cam77b4468k8q/000011.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cam77b4468k8q/000011.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc6kheg5uzbec/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc6kheg5uzbec/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc6kheg5uzbec/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc6kheg5uzbec/000010.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc84kr91ez5zh/000015.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc84kr91ez5zh/000016.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc84kr91ez5zh/000016.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cc84kr91ez5zh/000017.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ccarovygmyil7/000003.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ccarovygmyil7/000003.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ccarovygmyil7/000003.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ceswruhifzyfy/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ceswruhifzyfy/000010.error
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cgp9s2mpfyubn/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cgp9s2mpfyubn/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cgp9s2mpfyubn/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cgp9s2mpfyubn/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/chunks.json
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckj4mzzfl17su/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000012.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000012.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000012.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000013.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000014.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000014.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000014.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000015.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000016.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000016.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000017.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000018.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000018.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckloaosxr9u3e/000018.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckxr82159xz9z/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckxr82159xz9z/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ckxr82159xz9z/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000012.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000012.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000013.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000014.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000014.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000015.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000016.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000016.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cl65zdhsyt0ok/000017.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cms2zxo5s7764/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cnej4dkvhxkvu/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cnej4dkvhxkvu/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/coa28sxg8fhan/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/coa28sxg8fhan/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/coa28sxg8fhan/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/coa28sxg8fhan/000010.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cp4i28pf9orps/00000f.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cp4i28pf9orps/00000f.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cr50gvce6tnwf/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cr50gvce6tnwf/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cr50gvce6tnwf/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cr50gvce6tnwf/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/csyy1sdpboo9y/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/csyy1sdpboo9y/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/csyy1sdpboo9y/000010.rdf
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/csyy1sdpboo9y/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/ctyhgf7bmgujo/000013.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cw2crcvppa9ot/000008.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cw2crcvppa9ot/000008.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cxxyhb0lt7w8b/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cxxyhb0lt7w8b/000012.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/cxxyhb0lt7w8b/000012.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czki2f7gk34rw/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czki2f7gk34rw/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czki2f7gk34rw/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czltdslfuoxrv/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czltdslfuoxrv/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czltdslfuoxrv/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czltdslfuoxrv/000010.snapshot
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czmj8dd4vcgx2/00000f.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czmj8dd4vcgx2/000010.metadata
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czmj8dd4vcgx2/000010.png
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czmj8dd4vcgx2/000011.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czpcjkb9a6328/000013.csv
code/.Rproj.user/shared/notebooks/F7256210-mini_project_1/1/s/czpcjkb9a6328/000014.error
code/.Rproj.user/shared/notebooks/patch-chunk-names
code/.Rproj.user/shared/notebooks/paths
writeup/.DS_Store
code/.DS_Store
data/.DS_Store
data/codebooks/.DS_Store
figures/.DS_Store
